In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("data/illiteracy.txt", sep="\t")

In [5]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [9]:
np.round(data[["Illit", "Births"]].corr(method="spearman"), 4)

        Illit  Births
Illit   1.000   0.753
Births  0.753   1.000