In [1]:
import numpy as np
import pandas as pd

import scipy
from statsmodels.stats.weightstats import *

In [6]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
mu = 9.5
der = .4

s_x = 9.57
n = 160

In [10]:
a = (9.57 - 9.5) / (.4 / 12.649110640673518)

In [14]:
np.round(2 * (1 - stats.norm.cdf(a)), 4)

0.0269

In [21]:
data = pd.read_csv("./data/diamonds.txt", sep="\t")

In [22]:
data

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
...      ...    ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 7 columns]

In [65]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, mean_squared_error

In [37]:
X_train, X_test, y_train, y_test = train_test_split(data.drop("price", axis=1), data.price, random_state=1, test_size=.25)

In [40]:
model_l = LinearRegression().fit(X_train, y_train)
y_pred_l = model_l.predict(X_test)

In [48]:
model_rf = RandomForestRegressor(n_estimators=10, random_state=1).fit(X_train, y_train)
y_pred_rf = model_rf.predict(X_test)

In [49]:
d_l = np.abs(y_test - y_pred_l)

In [50]:
d_rf = np.abs(y_test - y_pred_rf)

In [81]:
scipy.stats.ttest_rel(d_rf, d_l)

Ttest_relResult(statistic=-13.017729783879002, pvalue=1.6551745751318887e-38)

In [85]:
DescrStatsW(d_l - d_rf).tconfint_mean()

(74.28724532595727, 100.62452098634576)

In [71]:
d_l.mean() - d_rf.mean()

87.45588315615157

In [86]:
cm = CompareMeans(DescrStatsW(d_l), DescrStatsW(d_rf))
cm.tconfint_diff(alpha=.05)

(59.83194833383145, 115.0798179784717)

In [87]:
np.round(cm.tconfint_diff(alpha=.05), 0)

array([ 60., 115.])

In [80]:
DescrStatsW(d_rf-d_l).zconfint_mean(alpha=.05)

(-100.62333893131077, -74.28842738099226)

In [78]:
zconfint(d_rf - d_l)

(-100.62333893131074, -74.28842738099226)

In [88]:
d_l.mean()

890.3764004285631

In [89]:
d_rf.mean()

802.9205172724115